$breakpoint-phone: 600px;
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  .logo{
    width: 100%;
    background-color: #0C4085;
    height: 10rem;

    img{
        display: block;
        width: 35%;
        margin: auto auto;
        @media (max-width: $breakpoint-phone) {
                width: 65%;
        }
    }
}
.add{
    text-align: center;
    margin-top: 3rem;
    a{  
        font-size: 4rem;
        background-color: #4e34e4;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        }
}
  $tablet-width: 768px;
  .containerMatela{
    display: flex; 
    width: 100%;
    justify-content: center;

    @media (max-width: #{$tablet-width}) {
      flex-direction: column;
     }

    
    .imageMatela{
      width: 20%;
      margin: 2rem;
      @media (max-width: #{$tablet-width}) {
        width: 90%;
       }

      img{
        width:100%
      }
    }

    .information{
        width: 20%;
        margin: 2rem;
        text-align: center;
  
        @media (max-width: #{$tablet-width}) {
          width: 100%;
         }
          
          .name{
            
            margin-top: 3rem;
            font-size: 4rem;
            margin-bottom: 1rem;
          }
  
        .marque{
            
            font-size: 3rem;
            margin-bottom: 1rem;
          }
          .dimension{
            font-size: 3rem;
            margin-bottom: 1rem;
          }
          
        
      }
        .prix{
            width: 20%;
            margin: 2rem;
            text-align: center;

            .prixNormal{
                margin-top: 3rem;
                font-size: 4rem;
                margin-bottom: 1rem;
            }

            .prixBarrer{
                margin-top: 3rem;
                font-size: 4rem;
                margin-bottom: 1rem;
                text-decoration: line-through;
            }
            .reduction{
                color: rgb(223, 47, 47);
                font-size: 4rem;
                margin-bottom: 1rem;
            }
      }

      .btn{
        width: 20%;
        margin: 2rem;
        text-align: center;

        .mod{
                margin-top: 3rem;
                font-size: 4rem;
                margin-bottom: 1rem;
                a{
                background-color: #e2ec53;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                }
        }
        .suppr{
                margin-top: 3rem;
                font-size: 4rem;
                margin-bottom: 1rem;
                a{
                background-color: #e76157;
                color: white;
                padding: 14px 25px;
                text-align: center;
                text-decoration: none;
                }
        }
      }
  }
  
  .pagination{
    margin-top: 3rem;
    text-align: center;
    a{
      text-decoration: none;
      color: black;
      border: 0.3rem solid black;
      padding: 0.5rem;
    }

  }

  .inputContainer{
    margin: 1rem 0;
    text-align: center;
    display: flex;
    font-size: 1.6rem;
    
    @media (max-width: $breakpoint-phone) {
      flex-direction: column;
      
}
    label {
        margin-right: 1rem;
        width: 50%;
        text-align: right;
        @media (max-width: $breakpoint-phone) {
          width: 100%;
          text-align: center;
          
    }
    }

    .observation {
        vertical-align:top;
    }

    .Champ-selection{
      
      @media (max-width: $breakpoint-phone) {
        width: 80%;
        margin: 0 auto;
        
  }
    }
}

.button-form{
  text-align: center;
}